.input {
  flex: 1;
  position: relative;
  background: rgba(53, 53, 65, 1);
  border-radius: 8px;
  height: 64px;
}

.input>label {
  position: absolute;
  top: 22px;
  color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 16px;
  transform: translate(0, 0) scale(1);
  font-weight: 400;
  left: 20px;
  transform-origin: top left;
  transition: transform 0.2s ease;
}

.input>input:focus+label,
.input>input:not(:placeholder-shown)+label {
  transform: translate(0px, -10px) scale(0.72);

}

.input input {
  width: 100%;
  border: 0;
  outline: 0;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  padding: 15px 20px 0 20px;
  background: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.input>input:focus,
.input>input:not(:placeholder-shown) {
  opacity: 1;
}