.filters {
  display: flex;
  gap: 8px;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 8px;
}

@media screen and (max-width: 768px){
  .filters {
    flex-direction: column;
    height: 192px;
  }
}

.filters select{
  background: #fff;
  border-radius: 8px;
  height: 64px;
  border: 0;
  outline: 0;
  padding: 0 16px;
  flex: 1;
}